* {padding: 0; margin: 0; border: 0;}
*,*:before,*::after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body { height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; } 
input, button, textarea {font-family: inherit; }
input::-ms-clear {display: none;}
button { cursor: pointer }
button::-moz-focus-inner { padding: 0; border: 0;} 
a a:visited { text-decoration: none }
a:hover { text-decoration: none } 
ul li {list-style: none } 
img {vertical-align: top }
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*---------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Tinos:wght@400;700&display=swap');
$FWtinos: 'Tinos', serif;
$FWsans: 'Open Sans', sans-serif;


body {
    color: white;
    font-family: $FWsans;
    a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $FWsans;
        font-size: 14px;
        font-weight: 700;
    }
}

.container {
    width: 1137px;
    margin: 0 auto;
}

header {
    background: url(../../img/HERO\ IMG.png);
    height: 800px;
    padding-top: 50px;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            display: flex;
            align-items: center;

            li {
                margin-right: 23px;

                &:last-child {
                    margin-left: 63px;
                }
                &:nth-child(4) {
                    background: url(../../img/cart.png) center no-repeat;
                    padding-right: 34.7px;
                    margin-right: 37.32px;
                    background-position: right;
                }
                &:nth-child(5) {
                    width: 160px;
                    line-height: 19px;
                    font-weight: 400;
                    font-size: 14px;

                    .link {
                        background: url(../../img/phone.png) center no-repeat;
                        background-size: 23px 23px;
                        background-position: left center;
                        padding-left: 29px;
                        height: 25px;
                        font-size: 18px;
                        width: 131px;

                        &::after {
                            content: "";

                            position: absolute;
                            border-left: 1px solid white;
                            height: 51px;
                            top: 56px; bottom: 0; right: 0; left: 835px;
                        }
                    }
                }
                &:nth-child(6) {
                    border: 1px solid #ff7400;
                    background: #ff7400;
                    padding: 14px 19px 14px 18px;
                }
            }
        }

        
    }
    .title {
        margin-top: 204px;
        color: #ff7400;
        font-family: $FWtinos;
        font-size: 50px;
        line-height: 57px;
        text-align: center;
        float: left;

        span {
            font-size: 80px;
            line-height: 92px;
        }

        p {
            margin-top: 5px;
            color: white;
            font-size: 18px;
            line-height: 25px;
            font-family: $FWsans;
            text-transform: uppercase;
            margin-bottom: 10px;

            &::after {
                content: '';

                position: absolute;
                border: 1px solid white;
                width: 61px;
                top: 487px;
                left: 226px;
            }

            &::before {
                content: '';

                position: absolute;
                border: 1px solid white;
                width: 61px;
                top: 487px;
                left: 480px;
            }
        }

        a {
            border: 1px solid #ff7400;
            background: #ff7400;
            padding: 14px 28px 14px 27px;
        }
    }

    .intro {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: black;
        margin-top: 575.04px;
        margin-bottom: 150px;

        >div {
            width: 349px;
            height: 328px;
            background: white;
            box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
            text-align: center;
            font-family: 'Tinos';
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;


            >h2 {
                padding-top: 139px;
                margin-bottom: 20px;
                background: url('../../img/Mask\ Group.png') center no-repeat;
            }

            p {
                color: #656363;
            }

            span {
                color: #BC9060;
            }
        }
    }
}


.our-history-section {
    color: black;

    .our-history {
        display: flex;
        justify-content: space-around;
        margin-top: 370px;
        margin-bottom: 122px;

        .history {
            text-align: center;
            float: left;
            width: 444px;
            color: #656363;
            font-size: 16px;
            line-height: 22px;

            .title {
                
                h1 {
                    font-family: $FWtinos;
                    font-size: 54px;
                    line-height: 62px;
                    margin-bottom: 21px;
                    color: black;
                }
                span {
                    color: #D67E34;
                }
            }

            .stats {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 110px;
                color: black;
                font-size: 20px;
                line-height: 27px;

                >div {
                    display: flex;
                    flex-direction: column;

                    h2 {
                        color: #BC9060;
                        font-size: 40px;
                        line-height: 54px;
                    }
                }
            }
        }
    }

    .celebrating {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: url(../../img/bg.png);
        color: white;
        padding-top: 80px;
        padding-bottom: 104px;
        margin-bottom: 132px;

        .title {
            width: 601px;

            h1 {
                color: #D67E34;
                font-size: 52px;
                line-height: 59.79px;
                font-family: $FWtinos;
                margin-bottom: 20px;
            }

            h2 {
                font-size: 24px;
                line-height: 32.68px;
            }

            
        }
        .btn {
            border-bottom: 1px solid #ff7400;
            background: #ff7400;
            padding: 14px 19px 14px 18px;
        }

        a {
            font-size: 14px;
            line-height: 19.07px;
            font-weight: 700;
        }
    }
}

.dishes-section {
    color: black;
    font-family: $FWtinos;
    font-size: 26px;
    line-height: 29.9px;
    margin-bottom: 152px;
    .title {
        text-align: center;

        h1 {
            font-size: 54px;
            line-height: 62.09px;
            margin-bottom: 139px;
        }

        span {
            color: #D67E34;
        }
    }
    
    .dishes {
        display: flex;

        .other-dishes {
            padding-top: 3px;
            margin-left: 27.5px;
            img {
                width: 160px;
                margin-bottom: 27.5px;
            }

            >div {
                display: flex;
                align-items: center;

                >p {
                    margin-left: 27.5px;
                }
            }
        }
    }
}

.our-menu-section {
    color: black;
    font-size: 16px;
    line-height: 21.71px;
    background: url(../../img/Mask\ Group-bg.png) center no-repeat;
    padding-bottom: 226px;

    .title {
        text-align: center;

        h1 {
            color: white;
            font-size: 54px;
            line-height: 62.09px;
            padding-top: 98px;
            margin-bottom: 138px;
            font-family: $FWtinos;
            text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .our-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::after {
            content: '';

            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #D67E34;
            top: 3705px;
            left: 50px;
        }

        &::before {
            content: '';

            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #D67E34;
            top: 3705px;
            right: 50px;
        }

        >div {
            text-align: center;
            width: 350px;
            height: 510px;
            background-color: white;

            img {
                margin-top: 80px;
                margin-bottom: 16px;
            }

            .absolute-price {
                position: absolute;
                z-index: 1;
            }

            .first-brg {
                margin-top: 45px;
            }

            h4 {
                font-size: 26px;
                line-height: 29.9px;
                margin-bottom: 17px;
            }

            h5 {
                text-align: left;
                background: #D67E34;
                padding: 7px 11px 7px 12px;
                width: 124px;
                text-transform: uppercase;
                font-size: 13px;
            }

            p {
                display: inline-block;
                margin-right: 0;
                margin-bottom: 50px;
                font-family: $FWsans;
                font-size: 18px;
                width: 226px;
            }

            a {
                border: 1px solid #D67E34;
                background: #D67E34;
                padding: 14px 68px 14px 67px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.review-section {
    color: black;
    background: #E6E5E5;
    padding-top: 104px;
    padding-bottom: 108px;

    .review {
        text-align: center;

        >p {
            width: 920px;
            font-style: italic;
            font-size: 20px;
            line-height: 27.24px;
            display: inline-block;
            margin-bottom: 30px;
        }

        .client {

            img {
                margin-bottom: 17px;
            }

            .whoIs {
                font-size: 20px;
                font-weight: 600;
                line-height: 27px;
                margin-bottom: 9px;
            }

            .nameClient {
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
                margin-bottom: 25px;
            }
        }
    }
}

.gallary-dishes {
    color: black;
    margin-top: 101px;
    font-family: $FWtinos;

    .title {
        text-align: center;

        h1 {
            font-size: 54px;
            line-height: 62px;
            margin-bottom: 59px;

            span {
                color: #D67E34;
            }
        }
    }
    .gallary {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 100px;

        img {
            margin-bottom: 27.43px;
        }
        
        &::after {
            content: '';

            position: absolute;
            width: 30px;
            height: 100px;
            background-color: red;
            left: 0;
        }
        &::before {
            content: '';

            position: absolute;
            width: 30px;
            height: 100px;
            background-color: red;
            right: 0;
        }
    }
}

.cook-gallary {
    color: black;
    margin-top: 101px;
    font-family: $FWtinos;

    .title {
        text-align: center;

        h1 {
            font-size: 54px;
            line-height: 62px;
            margin-bottom: 107px;

            span {
                color: #D67E34;
            }
        }
    }
    
    .gallary {
        display: flex;
        justify-content: space-around;
        margin-bottom: 100px;
    }
}